
  #chart{
    width:500px;
    height:500px;
    padding-bottom: 25px;
}
#result{
    height:auto;
    width:500px;

}
#result h1{
    font-size: 46px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}